#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/tests.v1.schema.json

test_format = 1.0

[default]

    # ------------
    # Tests to run
    # ------------

    # -------------------------------
    # Default args to use for install
    # -------------------------------

    # -------------------------------
    # Commits to test upgrade from
    # -------------------------------
        #test_upgrade_from.d70256707e598e5817b600036a742da65939746a.name = "Upgrade from 1.136.0~ynh1"
        #test_upgrade_from.f1b8557e127accfaea284851cbd47ba3964dfd38.name = "Upgrade from 1.141.1~ynh1"
        test_upgrade_from.7b46f4dd6540b38ab2d1667acea38798bf40a680.name = "Upgrade from 2.2.3~ynh2"
