[Unit]
Description=Immich machine-learning
Documentation=https://github.com/immich-app/immich
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10s
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/immich/app/machine-learning
EnvironmentFile=__INSTALL_DIR__/immich/env

# Clean up residual control socket before startup
ExecStartPre=/bin/rm -f __INSTALL_DIR__/immich/app/machine-learning/gunicorn.ctl

ExecStart=__INSTALL_DIR__/immich/app/machine-learning/venv/bin/python -m uvicorn \
	--host 127.0.0.1 \
	--port __PORT_MACHINELEARNING__ \
	--workers 1 \
	--timeout-keep-alive 2 \
	--log-level info \
	immich_ml.main:app


# Timeouts augmentés pour tenir compte du chargement des modèles ML
TimeoutStartSec=120
TimeoutStopSec=60

StandardOutput=append:/var/log/__APP__/__APP__-machine-learning.log
StandardError=append:/var/log/__APP__/__APP__-machine-learning.log
UMask=0077

# Sandboxing options to harden security
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
DevicePolicy=closed
ProtectSystem=full
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
LockPersonality=yes
SystemCallFilter=~@clock @debug @module @mount @obsolete @reboot @setuid @swap

# Denying access to capabilities that should not be relevant for webapps
CapabilityBoundingSet=~CAP_RAWIO CAP_MKNOD
CapabilityBoundingSet=~CAP_AUDIT_CONTROL CAP_AUDIT_READ CAP_AUDIT_WRITE
CapabilityBoundingSet=~CAP_SYS_BOOT CAP_SYS_TIME CAP_SYS_MODULE CAP_SYS_PACCT
CapabilityBoundingSet=~CAP_LEASE CAP_LINUX_IMMUTABLE CAP_IPC_LOCK
CapabilityBoundingSet=~CAP_BLOCK_SUSPEND CAP_WAKE_ALARM
CapabilityBoundingSet=~CAP_SYS_TTY_CONFIG
CapabilityBoundingSet=~CAP_MAC_ADMIN CAP_MAC_OVERRIDE
CapabilityBoundingSet=~CAP_NET_ADMIN CAP_NET_BROADCAST CAP_NET_RAW
CapabilityBoundingSet=~CAP_SYS_ADMIN CAP_SYS_PTRACE CAP_SYSLOG

[Install]
WantedBy=immich-server.service
