[Unit]
Description=Immich server
Documentation=https://github.com/immich-app/immich
Requires=redis-server.service
Requires=postgresql.service
Requires=__APP__-machine-learning.service
After=network.target
After=__APP__-machine-learning.service

[Service]
Type=simple
Restart=on-failure
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/__APP__/app
Environment="PATH=/usr/lib/jellyfin-ffmpeg/:__PATH_WITH_NODEJS__"
EnvironmentFile=__INSTALL_DIR__/__APP__/env

ExecStart=__NODEJS_DIR__/node __INSTALL_DIR__/__APP__/app/dist/main

SyslogIdentifier=__APP__-server
StandardOutput=append:/var/log/__APP__/__APP__-server.log
StandardError=append:/var/log/__APP__/__APP__-server.log
ReadWritePaths=/var/log/__APP__
UMask=0077

# Allow hardware acceleration, based on :
# Server > https://github.com/immich-app/immich/blob/main/docker/hwaccel.transcoding.yml
# ML     > https://github.com/immich-app/immich/blob/main/docker/hwaccel.ml.yml
PrivateDevices=no
DevicePolicy=closed
## NVIDIA (NVENC, CUDA)
DeviceAllow=char-nvidia* rw
## Intel/AMD (VAAPI, QuickSync)
DeviceAllow=char-drm rw
## AMD ROCm
DeviceAllow=char-kfd rw
## Rockchip SoC
DeviceAllow=char-dma_heap rw
DeviceAllow=char-rga rw
DeviceAllow=char-mpp rw
## ARM Mali
DeviceAllow=char-mali rw
DeviceAllow=char-ump rw

# Sandboxing options to harden security
# Details for these options: https://www.freedesktop.org/software/systemd/man/systemd.exec.html
NoNewPrivileges=yes
PrivateTmp=yes
# PrivateDevices=yes -> See Allow hardware acceleration
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
# DevicePolicy=closed -> See Allow hardware acceleration
ProtectClock=yes
ProtectHostname=yes
ProtectProc=invisible
ProtectSystem=full
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
LockPersonality=yes
SystemCallArchitectures=native
SystemCallFilter=~@clock @debug @module @mount @obsolete @reboot @setuid @swap @cpu-emulation @privileged

# Denying access to capabilities that should not be relevant for webapps
# Doc: https://man7.org/linux/man-pages/man7/capabilities.7.html
CapabilityBoundingSet=~CAP_RAWIO CAP_MKNOD
CapabilityBoundingSet=~CAP_AUDIT_CONTROL CAP_AUDIT_READ CAP_AUDIT_WRITE
CapabilityBoundingSet=~CAP_SYS_BOOT CAP_SYS_TIME CAP_SYS_MODULE CAP_SYS_PACCT
CapabilityBoundingSet=~CAP_LEASE CAP_LINUX_IMMUTABLE CAP_IPC_LOCK
CapabilityBoundingSet=~CAP_BLOCK_SUSPEND CAP_WAKE_ALARM
CapabilityBoundingSet=~CAP_SYS_TTY_CONFIG
CapabilityBoundingSet=~CAP_MAC_ADMIN CAP_MAC_OVERRIDE
CapabilityBoundingSet=~CAP_NET_ADMIN CAP_NET_BROADCAST CAP_NET_RAW
CapabilityBoundingSet=~CAP_SYS_ADMIN CAP_SYS_PTRACE CAP_SYSLOG

[Install]
WantedBy=multi-user.target
